<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Task</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            font-family: "Open Sans", sans-serif;
            background-image: url('https://i.pinimg.com/736x/09/32/58/0932587bb02e1f07068ccf3668aff51c.jpg');
           
        }
        .container {
            max-width: 600px;
            width: 90%;
            background: #fff;
            padding: 20px;
            margin: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            opacity: 0.9;
        }
        h1 {
            text-align: center;
            color: #333;
            margin-top: 0;
        }
        .form-group {
            margin-bottom: 15px;
        }
        .form-group label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }
        .form-group input, .form-group textarea, .form-group select {
            width: 100%;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
            box-sizing: border-box;
        }
        button {
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            background-color: #007bff;
            color: #fff;
            font-size: 16px;
            width: 100%;
            margin-top: 10px;
        }
        button:hover {
            background-color: #0056b3;
        }
        .back-link {
            display: block;
            text-align: center;
            margin-top: 20px;
            color: #007bff;
            text-decoration: none;
        }
        .back-link:hover {
            text-decoration: underline;
        }

        @media (max-width: 768px) {
            .container {
                margin: 10px;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <h1> Agent Assignment</h1>
        <form action="/assign/tasks/edit/<%= task._id %>" method="post">
        
            <div class="form-group">
                <label for="task1agentname">Task-1 Agent name(Seller):</label>
                <select id="task1agentname" name="task1agentname">
                    <option value="" disabled selected>Select</option>
                    <option value="None">None</option>
                    <option value="Aarush_101">Aarush_101</option>
                    <option value="Abhay_102">Abhay_102</option>
                    <option value="Aejaj Bahraich_176">Aejaj Bahraich_176</option>
                    <option value="Aejaj_176">Aejaj_176</option>
                    <option value="Ahsaan_103">Ahsaan_103</option>
                    <option value="Ajay Ambedkernagar_189">Ajay Ambedkernagar_189</option>
                    <option value="Ajay_173">Ajay_173</option>
                    <option value="Akash_Tiwari_159">Akash_Tiwari_159</option>
                    <option value="Akhil Punjab_188">Akhil Punjab_188</option>
                    <option value="Akram Mahoba_185">Akram Mahoba_185</option>
                    <option value="Akshay_104">Akshay_104</option>
                    <option value="Aman_105">Aman_105</option>
                    <option value="Amit Vaid_171">Amit Vaid_171</option>
                    <option value="Anil_196">Anil_196</option>
                    <option value="Anil Kumar_106">Anil Kumar_106</option>
                    <option value="Anshul UK_178">Anshul UK_178</option>
                    <option value="Anupam_kannauj_160">Anupam_kannauj_160</option>
                    <option value="Anurag HR_193">Anurag HR_193</option>
                    <option value="Armaan_107">Armaan_107</option>
                    <option value="Aqeel Bijnor _199">Aqeel Bijnor _199</option>
                    <option value="Baburam_108">Baburam_108</option>
                    <option value="Balu_169">Balu_169</option>
                    <option value="Bharat_109">Bharat_109</option>
                    <option value="Deepak_110">Deepak_110</option>
                    <option value="Dharmendra Mujaffarnaagr_163">Dharmendra Mujaffarnaagr_163</option>
                    <option value="Dinesh Mahoba_111">Dinesh Mahoba_111</option>
                    <option value="Dinesh Rana_112">Dinesh Rana_112</option>
                    <option value="DRTO_Meerut_197">DRTO_Meerut_197</option>
                    <option value="File Allocation Pending">File Allocation Pending</option>
                    <option value="Gaurav_113">Gaurav_113</option>
                    <option value="Gopal Pilibhit_114">Gopal Pilibhit_114</option>
                    <option value="Gopal Sharma_115">Gopal Sharma_115</option>
                    <option value="Gurvinder_116">Gurvinder_116</option>
                    <option value="Harish_117">Harish_117</option>
                    <option value="Imran Kanpur_187">Imran Kanpur_187</option>
                    <option value="Indrajeet Mahanagar_186">Indrajeet Mahanagar_186</option>
                    <option value="Indraveer Orai_184">Indraveer Orai_184</option>
                    <option value="Iqbal HR26_172">Iqbal HR26_172</option>
                    <option value="Jay tomar_118">Jay tomar_118</option>
                    <option value="Jitender Raebareli_120">Jitender Raebareli_120</option>
                    <option value="Kamal_177">Kamal_177</option>
                    <option value="Khan Sahab_182">Khan Sahab_182</option>
                    <option value="Khusru Siwan_198">Khusru Siwan_198</option>
                    <option value="Kulbhushan_121">Kulbhushan_121</option>
                    <option value="Lalit Mujaffarnagar_164">Lalit Mujaffarnagar_164</option>
                    <option value="Laloo_168">Laloo_168</option>
                    <option value="Mahendra_122">Mahendra_122</option>
                    <option value="Maniysh HR_181">Maniysh HR_181</option>
                    <option value="Manjeet_123">Manjeet_123</option>
                    <option value="Manphool_124">Manphool_124</option>
                    <option value="Mohan_125">Mohan_125</option>
                    <option value="Mohit KanpurDehat_194">Mohit KanpurDehat_194</option>
                    <option value="Mukesh_126">Mukesh_126</option>
                    <option value="Mukul Sambhal_175">Mukul Sambhal_175</option>
                    <option value="Narendra_195">Narendra_195</option>
                    <option value="Naresh_174">Naresh_174</option>
                    <option value="Naseem Unnao_191">Naseem Unnao_191</option>
                    <option value="Neeraj Gupta_127">Neeraj Gupta_127</option>
                    <option value="Neeraj Kumar Gupta (Hapur)">Neeraj Kumar Gupta (Hapur)</option>
                    <option value="Nikhil_128">Nikhil_128</option>
                    <option value="Nikhil RTO Kushinagar_166">Nikhil RTO Kushinagar_166</option>
                    <option value="NITIN AGARWAL">NITIN AGARWAL</option>
                    <option value="Nitin Jaipur_167">Nitin Jaipur_167</option>
                    <option value="Pappu_129">Pappu_129</option>
                    <option value="Pappu Bareilly_183">Pappu Bareilly_183</option>
                    <option value="Pawan_130">Pawan_130</option>
                    <option value="Pawan Hathras_192">Pawan Hathras_192</option>
                    <option value="Pradeep_131">Pradeep_131</option>
                    <option value="Praveen_132">Praveen_132</option>
                    <option value="Puneet Sir">Puneet Sir</option>
                    <option value="Radhakant_133">Radhakant_133</option>
                    <option value="Radhey Raebareli_190">Radhey Raebareli_190</option>
                    <option value="Rahul_170">Rahul_170</option>
                    <option value="Raj Jhansi_134">Raj Jhansi_134</option>
                    <option value="Rajesh_135">Rajesh_135</option>
                    <option value="Rajkumar_136">Rajkumar_136</option>
                    <option value="Raman_137">Raman_137</option>
                    <option value="Ramji Lal_138">Ramji Lal_138</option>
                    <option value="Rinku_139">Rinku_139</option>
                    <option value="Rishu Yadav_140">Rishu Yadav_140</option>
                    <option value="Rohit_141">Rohit_141</option>
                    <option value="Sachin_142">Sachin_142</option>
                    <option value="Sandeep Vaishnav_143">Sandeep Vaishnav_143</option>
                    <option value="Sanjeev_144">Sanjeev_144</option>
                    <option value="Shahid Bijnor_145">Shahid Bijnor_145</option>
                    <option value="Shakir_146">Shakir_146</option>
                    <option value="Shivam_147">Shivam_147</option>
                    <option value="Sonu_148">Sonu_148</option>
                    <option value="Sourabh_149">Sourabh_149</option>
                    <option value="Suhail_Meerut_161">Suhail_Meerut_161</option>
                    <option value="Sunil Ku_150">Sunil Ku_150</option>
                    <option value="Suraj UK_179">Suraj UK_179</option>
                    <option value="Surendra Saharanpur_165">Surendra Saharanpur_165</option>
                    <option value="Udaypal Dwivedi_151">Udaypal Dwivedi_151</option>
                    <option value="Upendra_Bhatia_162">Upendra_Bhatia_162</option>
                    <option value="Vikas_152">Vikas_152</option>
                    <option value="VINOD KUSHWAHA">VINOD KUSHWAHA</option>
                    <option value="Vipin_153">Vipin_153</option>
                    <option value="Virender_154">Virender_154</option>
                    <option value="Vivek_155">Vivek_155</option>
                    <option value="Waiz_156">Waiz_156</option>
                    <option value="Yogesh_157">Yogesh_157</option>
                    <option value="Zeeshaan_158">Zeeshaan_158</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="task2agentname">Task-2 Agent name(Buyer):</label>
                <select id="task2agentname" name="task2agentname">
                    <option value="" disabled selected>Select</option>
                    <option value="None">None</option>
                    <option value="Aarush_101">Aarush_101</option>
                    <option value="Abhay_102">Abhay_102</option>
                    <option value="Aejaj Bahraich_176">Aejaj Bahraich_176</option>
                    <option value="Aejaj_176">Aejaj_176</option>
                    <option value="Ahsaan_103">Ahsaan_103</option>
                    <option value="Ajay Ambedkernagar_189">Ajay Ambedkernagar_189</option>
                    <option value="Ajay_173">Ajay_173</option>
                    <option value="Akash_Tiwari_159">Akash_Tiwari_159</option>
                    <option value="Akhil Punjab_188">Akhil Punjab_188</option>
                    <option value="Akram Mahoba_185">Akram Mahoba_185</option>
                    <option value="Akshay_104">Akshay_104</option>
                    <option value="Aman_105">Aman_105</option>
                    <option value="Amit Vaid_171">Amit Vaid_171</option>
                    <option value="Anil_196">Anil_196</option>
                    <option value="Anil Kumar_106">Anil Kumar_106</option>
                    <option value="Anshul UK_178">Anshul UK_178</option>
                    <option value="Anupam_kannauj_160">Anupam_kannauj_160</option>
                    <option value="Anurag HR_193">Anurag HR_193</option>
                    <option value="Armaan_107">Armaan_107</option>
                    <option value="Aqeel Bijnor _199">Aqeel Bijnor _199</option>
                    <option value="Baburam_108">Baburam_108</option>
                    <option value="Balu_169">Balu_169</option>
                    <option value="Bharat_109">Bharat_109</option>
                    <option value="Deepak_110">Deepak_110</option>
                    <option value="Dharmendra Mujaffarnaagr_163">Dharmendra Mujaffarnaagr_163</option>
                    <option value="Dinesh Mahoba_111">Dinesh Mahoba_111</option>
                    <option value="Dinesh Rana_112">Dinesh Rana_112</option>
                    <option value="DRTO_Meerut_197">DRTO_Meerut_197</option>
                    <option value="File Allocation Pending">File Allocation Pending</option>
                    <option value="Gaurav_113">Gaurav_113</option>
                    <option value="Gopal Pilibhit_114">Gopal Pilibhit_114</option>
                    <option value="Gopal Sharma_115">Gopal Sharma_115</option>
                    <option value="Gurvinder_116">Gurvinder_116</option>
                    <option value="Harish_117">Harish_117</option>
                    <option value="Imran Kanpur_187">Imran Kanpur_187</option>
                    <option value="Indrajeet Mahanagar_186">Indrajeet Mahanagar_186</option>
                    <option value="Indraveer Orai_184">Indraveer Orai_184</option>
                    <option value="Iqbal HR26_172">Iqbal HR26_172</option>
                    <option value="Jay tomar_118">Jay tomar_118</option>
                    <option value="Jitender Raebareli_120">Jitender Raebareli_120</option>
                    <option value="Kamal_177">Kamal_177</option>
                    <option value="Khan Sahab_182">Khan Sahab_182</option>
                    <option value="Khusru Siwan_198">Khusru Siwan_198</option>
                    <option value="Kulbhushan_121">Kulbhushan_121</option>
                    <option value="Lalit Mujaffarnagar_164">Lalit Mujaffarnagar_164</option>
                    <option value="Laloo_168">Laloo_168</option>
                    <option value="Mahendra_122">Mahendra_122</option>
                    <option value="Maniysh HR_181">Maniysh HR_181</option>
                    <option value="Manjeet_123">Manjeet_123</option>
                    <option value="Manphool_124">Manphool_124</option>
                    <option value="Mohan_125">Mohan_125</option>
                    <option value="Mohit KanpurDehat_194">Mohit KanpurDehat_194</option>
                    <option value="Mukesh_126">Mukesh_126</option>
                    <option value="Mukul Sambhal_175">Mukul Sambhal_175</option>
                    <option value="Narendra_195">Narendra_195</option>
                    <option value="Naresh_174">Naresh_174</option>
                    <option value="Naseem Unnao_191">Naseem Unnao_191</option>
                    <option value="Neeraj Gupta_127">Neeraj Gupta_127</option>
                    <option value="Neeraj Kumar Gupta (Hapur)">Neeraj Kumar Gupta (Hapur)</option>
                    <option value="Nikhil_128">Nikhil_128</option>
                    <option value="Nikhil RTO Kushinagar_166">Nikhil RTO Kushinagar_166</option>
                    <option value="NITIN AGARWAL">NITIN AGARWAL</option>
                    <option value="Nitin Jaipur_167">Nitin Jaipur_167</option>
                    <option value="Pappu_129">Pappu_129</option>
                    <option value="Pappu Bareilly_183">Pappu Bareilly_183</option>
                    <option value="Pawan_130">Pawan_130</option>
                    <option value="Pawan Hathras_192">Pawan Hathras_192</option>
                    <option value="Pradeep_131">Pradeep_131</option>
                    <option value="Praveen_132">Praveen_132</option>
                    <option value="Puneet Sir">Puneet Sir</option>
                    <option value="Radhakant_133">Radhakant_133</option>
                    <option value="Radhey Raebareli_190">Radhey Raebareli_190</option>
                    <option value="Rahul_170">Rahul_170</option>
                    <option value="Raj Jhansi_134">Raj Jhansi_134</option>
                    <option value="Rajesh_135">Rajesh_135</option>
                    <option value="Rajkumar_136">Rajkumar_136</option>
                    <option value="Raman_137">Raman_137</option>
                    <option value="Ramji Lal_138">Ramji Lal_138</option>
                    <option value="Rinku_139">Rinku_139</option>
                    <option value="Rishu Yadav_140">Rishu Yadav_140</option>
                    <option value="Rohit_141">Rohit_141</option>
                    <option value="Sachin_142">Sachin_142</option>
                    <option value="Sandeep Vaishnav_143">Sandeep Vaishnav_143</option>
                    <option value="Sanjeev_144">Sanjeev_144</option>
                    <option value="Shahid Bijnor_145">Shahid Bijnor_145</option>
                    <option value="Shakir_146">Shakir_146</option>
                    <option value="Shivam_147">Shivam_147</option>
                    <option value="Sonu_148">Sonu_148</option>
                    <option value="Sourabh_149">Sourabh_149</option>
                    <option value="Suhail_Meerut_161">Suhail_Meerut_161</option>
                    <option value="Sunil Ku_150">Sunil Ku_150</option>
                    <option value="Suraj UK_179">Suraj UK_179</option>
                    <option value="Surendra Saharanpur_165">Surendra Saharanpur_165</option>
                    <option value="Udaypal Dwivedi_151">Udaypal Dwivedi_151</option>
                    <option value="Upendra_Bhatia_162">Upendra_Bhatia_162</option>
                    <option value="Vikas_152">Vikas_152</option>
                    <option value="VINOD KUSHWAHA">VINOD KUSHWAHA</option>
                    <option value="Vipin_153">Vipin_153</option>
                    <option value="Virender_154">Virender_154</option>
                    <option value="Vivek_155">Vivek_155</option>
                    <option value="Waiz_156">Waiz_156</option>
                    <option value="Yogesh_157">Yogesh_157</option>
                    <option value="Zeeshaan_158">Zeeshaan_158</option>   
                </select>      
            </div>
            <!-- <div class="form-group">
                <label for="state">Status:</label>
                <select id="state" name="state">
                    <option value="true" <%= task.state ? 'selected' : '' %>>Completed</option>
                    <option value="false" <%= !task.state ? 'selected' : '' %>>Pending</option>
                </select>
            </div> -->
            <button type="submit">Update Task</button>
        </form>
        <a href="/employee" class="back-link">Back to Tasks</a>
    </div>
</body>
</html>
