<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create task</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: "Open Sans", sans-serif;
            margin: 0;
            padding: 20px;
            background-color: rgb(14, 14, 46);
            color: #fff;
        }
        
        h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        form {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin: auto;
            max-width: 600px;
            position: relative;
        }

       .form-group {
            margin-bottom: 15px;
            display: flex;
            position: relative;
            align-items: center;
        }

        label {
            margin-right: 10px; 
            font-weight: bold;
            color: #333;
            width: 150px;
        }

        input, textarea, select {
            flex: 1;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 6px;
            font-size: 16px;
            box-sizing: border-box;    
            max-width: 300px;
        }

        button, .upl {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            font-size: 16px;
            margin-top: 10px;
            text-decoration: none;
            text-align: center;
        }
       
        button:hover, .upl:hover {
            background-color: #0056b3;
        }

        .back-link {
            text-decoration: none;
            color: white;
            background-color: #007bff;
            padding: 10px 15px;
            border-radius: 5px;
            transition: background-color 0.3s;
            display: inline-block;
        }

        .back-link:hover {
            background-color: #fff;
            color: rgb(43, 41, 41);
        }
        .btnss{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        label {
            /* white-space: normal;
            width: 150px; */
            margin-right: 10px;
            font-weight: bold;
            color: #333;
             }
        .lab{
            display: flex;
            white-space: nowrap;  
            align-items: flex-start;
            margin: 12px;
            gap: 32px;
        }
        .finp{
            width: 60px;
             }
        .checkbox-group {
           width: 100%;
        }

/* .checkbox-group label {
    margin: 5px;
    display: flex;
    align-items: center;
    flex: 1 0 30%; 
    max-width: calc(33.33% - 10px); 
}

input[type="checkbox"] {
    margin-right: 10px; 
} */

/* Responsive adjustments */

/* @media (max-width: 800px) {
    .checkbox-group label {
        flex: 1 0 45%; 
        max-width: calc(50% - 10px); 
    }
}

@media (max-width: 500px) {
    .checkbox-group {
        flex-direction: column;
    }
    .checkbox-group label {
        flex: 1 0 100%; 
        max-width: 100%; 
    }
}
*/
@media (max-width: 768px) {
   .lab{
    flex-direction: column;
   }
} 

       
        @media (max-width: 768px) {
            form {
                padding: 15px;
                width: 95%;
            }

            input, textarea, select {
                font-size: 14px; 
            }
        }      
    </style>
</head>
<body>
    <a href="/tasks/" class="back-link">
        <i class="fas fa-arrow-left"></i>
      </a>
      
    <h2>Create New Task</h2>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        
        <div class="form-group">
            <label for="fileReceivedDate">File Received Date:</label>
            <input type="date" name="fileReceivedDate" id="fileReceivedDate" required>
        </div>
        <div class="form-group">
            <label for="carNum">Car Number:</label>
            <input type="text" name="carNum" id="carNum" required>
        </div>
        <div class="form-group">
            <label for="caseType">Case type:</label>
            <input type="text" name="caseType" id="caseType" readonly required>
        
        </div>
        <div class="checkbox-group">
         <div class="lab">
            <label>
                <input type="checkbox" name="caseTypes" value="DRC" onchange="updateInput()"> DRC
            </label>
            <label>
                <input type="checkbox" name="caseTypes" value="EURO MODIFIED" onchange="updateInput()"> EURO MODIFIED
            </label>
            <label>
                <input type="checkbox" name="caseTypes" value="HPT" onchange="updateInput()"> HPT
            </label>
         </div>  
          <div class="lab">
            <label>
                <input type="checkbox" name="caseTypes" value="NOC" onchange="updateInput()"> NOC
            </label>
            <label>
                <input type="checkbox" name="caseTypes" value="NOC REGD" onchange="updateInput()"> NOC REGD
            </label>
            <label>
                <input type="checkbox" name="caseTypes" value="TO" onchange="updateInput()"> TO
            </label>
          </div>
          <div class="lab">
            <label>
                <input type="checkbox" name="caseTypes" value="LOCAL TRF" onchange="updateInput()"> LOCAL TRF
            </label>
            <label>
                <input type="checkbox" name="caseTypes" value="HPA" onchange="updateInput()"> HPA
            </label>
            <label>
                <input type="checkbox" name="caseTypes" value="RC PARTICULAR" onchange="updateInput()"> RC PARTICULAR
            </label>
          </div>
        </div>
        <div class="form-group">
            <label for="AdditionalWork">Additional Work:</label>
            <input type="text" name="AdditionalWork" id="AdditionalWork">
        </div>
        <div class="form-group">
            <label for="clientName">Client name:</label>
            <input type="clientName" name="clientName" id="clientName" required>
        </div>
        <div class="form-group">
            <label for="hptName">HPT name:</label>
            <select name="hptName" id="hptName" class="finp">
                <option value="" disabled>Select an HPT</option>
                <option value="None">None</option>
                <option value="Indusind Bank LTD">Indusind Bank LTD</option>
                <option value="RBL Bank LTD">RBL Bank LTD</option>
                <option value="Muthoot Capital Services LTD">Muthoot Capital Services LTD</option>
                <option value="Capital cars PVT LTD">Capital cars PVT LTD</option>
                <option value="Tata Capital FIN.Ser.LTD">Tata Capital FIN.Ser.LTD</option>
                <option value="Tata Capital Limited">Tata Capital Limited</option>
                <option value="AU Small Finance Bank Limited">AU Small Finance Bank Limited</option>
                <option value="Bajaj Finance LTD">Bajaj Finance LTD</option>
                <option value="Mahindra & Mahindra Financial Services LTD">Mahindra & Mahindra Financial Services LTD</option>
                <option value="Vastu finserve India PVT LTD">Vastu finserve India PVT LTD</option>
                <option value="Piramal Capital & Housing">Piramal Capital & Housing</option>
                <option value="Poonawalla Fincorp LTD">Poonawalla Fincorp LTD</option>
                <option value="IDFC First Bank LTD">IDFC First Bank LTD</option>
                <option value="Bajaj Finserv Limited">Bajaj Finserv Limited</option>
                <option value="HDB Financial Services LTD">HDB Financial Services LTD</option>
                <option value="Yes Bank LTD">Yes Bank LTD</option>
                <option value="AEON CREDIT SERVICES">AEON CREDIT SERVICES</option>
                <option value="Kotak Mahindra Bank LTD">Kotak Mahindra Bank LTD</option>
                <option value="Kotak Mahindra Prime LTD">Kotak Mahindra Prime LTD</option>
                <option value="IDBI Bank LTD">IDBI Bank LTD</option>
                <option value="State Bank of India">State Bank of India</option>
                <option value="Axix Bank LTD">Axix Bank LTD</option>
                <option value="Cholamandalam Investment & Finanace Co.LTD">Cholamandalam Investment & Finanace Co.LTD</option>
                <option value="Union Bank of India">Union Bank of India</option>
                <option value="ICICI Bank LTD">ICICI Bank LTD</option>
                <option value="Shriram Finance Limited">Shriram Finance Limited</option>
                <option value="Kogta Financial India LTD">Kogta Financial India LTD</option>
                <option value="Manappuram Finance LTD">Manappuram Finance LTD</option>
                <option value="Hinduja Leyland Finance LTD">Hinduja Leyland Finance LTD</option>
                <option value="HDFC Bank LTD">HDFC Bank LTD</option>
                <option value="Cars24 Financial Services PVT LTD">Cars24 Financial Services PVT LTD</option>
                <option value="Spinny Capital LTD">Spinny Capital LTD</option>
                <option value="Hero Fincorp LTD">Hero Fincorp LTD</option>
            </select>
        </div>
        
        <div class="form-group">
            <label for="HPA">HPA (financer name):</label>
            <select name="HPA" id="HPA" class="finp">
                <option value="" disabled>Select a financer</option>
                <option value="None">None</option>
                <option value="Indusind Bank LTD">Indusind Bank LTD</option>
                <option value="RBL Bank LTD">RBL Bank LTD</option>
                <option value="Muthoot Capital Services LTD">Muthoot Capital Services LTD</option>
                <option value="Capital cars PVT LTD">Capital cars PVT LTD</option>
                <option value="Tata Capital FIN.Ser.LTD">Tata Capital FIN.Ser.LTD</option>
                <option value="Tata Capital Limited">Tata Capital Limited</option>
                <option value="AU Small Finance Bank Limited">AU Small Finance Bank Limited</option>
                <option value="Bajaj Finance LTD">Bajaj Finance LTD</option>
                <option value="Mahindra & Mahindra Financial Services LTD">Mahindra & Mahindra Financial Services LTD</option>
                <option value="Vastu finserve India PVT LTD">Vastu finserve India PVT LTD</option>
                <option value="Piramal Capital & Housing">Piramal Capital & Housing</option>
                <option value="Poonawalla Fincorp LTD">Poonawalla Fincorp LTD</option>
                <option value="IDFC First Bank LTD">IDFC First Bank LTD</option>
                <option value="Bajaj Finserv Limited">Bajaj Finserv Limited</option>
                <option value="HDB Financial Services LTD">HDB Financial Services LTD</option>
                <option value="Yes Bank LTD">Yes Bank LTD</option>
                <option value="AEON CREDIT SERVICES">AEON CREDIT SERVICES</option>
                <option value="Kotak Mahindra Bank LTD">Kotak Mahindra Bank LTD</option>
                <option value="Kotak Mahindra Prime LTD">Kotak Mahindra Prime LTD</option>
                <option value="IDBI Bank LTD">IDBI Bank LTD</option>
                <option value="State Bank of India">State Bank of India</option>
                <option value="Axix Bank LTD">Axix Bank LTD</option>
                <option value="Cholamandalam Investment & Finanace Co.LTD">Cholamandalam Investment & Finanace Co.LTD</option>
                <option value="Union Bank of India">Union Bank of India</option>
                <option value="ICICI Bank LTD">ICICI Bank LTD</option>
                <option value="Shriram Finance Limited">Shriram Finance Limited</option>
                <option value="Kogta Financial India LTD">Kogta Financial India LTD</option>
                <option value="Manappuram Finance LTD">Manappuram Finance LTD</option>
                <option value="Hinduja Leyland Finance LTD">Hinduja Leyland Finance LTD</option>
                <option value="HDFC Bank LTD">HDFC Bank LTD</option>
                <option value="Cars24 Financial Services PVT LTD">Cars24 Financial Services PVT LTD</option>
                <option value="Spinny Capital LTD">Spinny Capital LTD</option>
            </select>
        </div>
        <div class="form-group">
            <label for="chesisnum">Chesis Number:</label>
            <input type="text" name="chesisnum" id="chesisnum">
        </div>
        <div class="form-group">
            <label for="engineNum">Engine Number:</label>
            <input type="text" name="engineNum" id="engineNum">
        </div>
        <div class="form-group">
            <label for="taskType" required>Task Type:</label>
            <select name="name" id="taskType">
                <option value="None">None</option>
                <option value="SELLER_PP_PENDING">SELLER_PP PENDING</option>
                <option value="BUYER_PP_PENDING">BUYER_PP PENDING</option>
                <option value="SELLER_CAR_SEEN_PENDING">SELLER_CAR SEEN PENDING</option>
                <option value="BUYER_CAR_SEEN_PENDING">BUYER_CAR SEEN PENDING</option>
                <option value="DOCS_PENDING">DOCS PENDING</option>
                <option value="CHALLAN_PENDING">CHALLAN PENDING</option>
                <option value="HPA_ENDORSEMENT_PENDING">HPA ENDORSEMENT PENDING</option>
                <option value="FILE_IN_RTO_NO_PENDENCY">FILE IN RTO_(No Pendency)</option>
                <option value="FILE_TO_BE_RETURNED">FILE TO BE RETURNED</option>
                <option value="RTO_NOT_FUNCTIONING">RTO NOT FOCUNATIONING</option>
                <option value="HSRP_NOT_UPDATED">HSRP NOT UPDATE</option>
                <option value="EURO_MODIFICATION_PENDING">EURO MODIFICATION PENDING</option>
                <option value="FILE_HOLD_BY_CLIENT">FILE HOLD BY CLIENT</option>
                <option value="FILE_ALLOCATION_PENDING">FILE ALLOCATION PENDING</option>
                <option value="HPT_MAIL_PENDING_SELLER">HPT MAIL PENDING_SELLER</option>
                <option value="NOC_ISSUED_PICKUP_PENDING">NOC ISSUED_PICKUP PENDING</option>
                <option value="CAR_SEEN_PENDING_BUYER">CAR SEEN PENDING _ BUYER</option>
                <option value="CAR_SEEN_PENDING_SELLER">CAR SEEN PENDING _ SELLER</option>
                <option value="SELLER_VIDEO_LETTER_HEAD_PENDING">SELLER VIDEO / LETTER HEAD PENDING</option>
                <option value="SELLER_DELAY_PP">SELLER DELAY (P.P)</option>
                <option value="BUYER_DELAY_PP">BUYER DELAY (P.P)</option>
                <option value="SELLER_VIDEO_PENDING_LHEAD_RECEIVED">SELLER VIDEO PENDING (L.HEAD RECEIVED)</option>
                <option value="STUCK_CASE">STUCK CASE</option>
                <option value="FILE_IN_TRANSIT">FILE IN TRANSIT</option>
                <option value="SELLER_NOT_RESPONDING">SELLER_NOT RESPONDING</option>
                <option value="NOT_REACHABLE_SWITCH_OFF_PP_PENDING">NOT REACHABLE/SWITCH OFF- PP Pending</option>
                <option value="SELLER_NOT_ALIGNED_FOR_PP">SELLER NOT ALIGNED FOR PP</option>
                <option value="NOT_ALIGNED_BUYER_CAR_SEEN">NOT ALIGNED BUYER CAR SEEN</option>
                <option value="BUYER_NOT_ALIGNED_FOR_PP">BUYER NOT ALIGNED FOR PP</option>
                <option value="CARE_OF_VIDEO_PENDING">CARE OF VIDEO PENDING</option>
                <option value="SELLER_DEATH_CASE">SELLER DEATH CASE</option>
                <option value="WO_BUYER_CAR_VIDEO_PENDING">W/O_BUYER - CAR VIDEO PENDING</option>
                <option value="NOC_IN_CORRECTION">NOC IN CORRECTION</option>
                <option value="NO_UPDATE_APPROVAL_PENDING_CLIENT">No Update Approval Pending - Client</option>
                <option value="BLACKLIST">Blacklist</option>
                <option value="FILE_FNT">File FNT</option>
                <option value="TAX_PENDING">TAX PENDING</option>
                <option value="SELLER_PP_ALIGNED">SELLER_PP_ALIGNED</option>
                <option value="BUYER_PP_ALIGNED">BUYER_PP_ALIGNED</option>
                <option value="BUYER_CAR_SEEN_ALIGNED">BUYER CAR SEEN ALIGNED</option>
                <option value="SELLER_VIDEO_CALL_ALIGNED">SELLER VIDEO CALL ALIGNED</option>
                <option value="FILE_RETURNED">FILE RETURNED</option>
                <option value="HPA_MAIL_PENDING_BUYER">HPA MAIL PENDING_BUYER</option>
                <option value="CNG_CASE">CNG CASE</option>
            </select>
            
        </div>
        <div class="form-group">
            <label for="sellerName">Seller Name:</label>
            <input type="text" name="sellerName" id="sellerName">
        </div>
        <div class="form-group">
            <label for="sellerNum">Seller Number:</label>
            <input type="text" name="sellerNum" id="sellerNumber">
        </div>
        <div class="form-group">
            <label for="seller_RTO_location">Seller RTO Location:</label>
            <select name="seller_RTO_location" id="sellerRTO">
                <option value="" disabled selected>Select RTO Location</option>
                <option value="UP11, Saharanpur">UP11, Saharanpur</option>
                <option value="UP12, Muzaffarnagar">UP12, Muzaffarnagar</option>
                <option value="UP13, Bulandshahr">UP13, Bulandshahr</option>
                <option value="UP14, Ghaziabad">UP14, Ghaziabad</option>
                <option value="UP15, Meerut">UP15, Meerut</option>
                <option value="UP16, Noida">UP16, Noida</option>
                <option value="UP17, Baghpat">UP17, Baghpat</option>
                <option value="UP19, Shamli">UP19, Shamli</option>
                <option value="UP20, Bijnor">UP20, Bijnor</option>
                <option value="UP21, Moradabad">UP21, Moradabad</option>
                <option value="UP22, Rampur">UP22, Rampur</option>
                <option value="UP23, Amroha">UP23, Amroha</option>
                <option value="UP24, Budaun">UP24, Budaun</option>
                <option value="UP25, Bareilly">UP25, Bareilly</option>
                <option value="UP26, Pilibhit">UP26, Pilibhit</option>
                <option value="UP27, Shahjahanpur">UP27, Shahjahanpur</option>
                <option value="UP28, Ayodhya">UP28, Ayodhya</option>
                <option value="UP30, Hardoi">UP30, Hardoi</option>
                <option value="UP31, Lakhimpur Kheri">UP31, Lakhimpur Kheri</option>
                <option value="UP32, Lucknow Mahanager">UP32, Lucknow Mahanager</option>
                <option value="UP32, Lucknow TP Nagar">UP32, Lucknow TP Nagar</option>
                <option value="UP33, Raebareli">UP33, Raebareli</option>
                <option value="UP34, Sitapur">UP34, Sitapur</option>
                <option value="UP35, Unnao">UP35, Unnao</option>
                <option value="UP36, Amethi">UP36, Amethi</option>
                <option value="UP37, Hapur">UP37, Hapur</option>
                <option value="UP38, Sambhal">UP38, Sambhal</option>
                <option value="UP40, Bahraich">UP40, Bahraich</option>
                <option value="UP41, Barabanki">UP41, Barabanki</option>
                <option value="UP42, Faizabad">UP42, Faizabad</option>
                <option value="UP43, Gonda">UP43, Gonda</option>
                <option value="UP44, Sultanpur">UP44, Sultanpur</option>
                <option value="UP46, Shravasti">UP46, Shravasti</option>
                <option value="UP47, Balrampur">UP47, Balrampur</option>
                <option value="UP50, Azamgarh">UP50, Azamgarh</option>
                <option value="UP51, Basti">UP51, Basti</option>
                <option value="UP52, Deoria">UP52, Deoria</option>
                <option value="UP53, Gorakhpur">UP53, Gorakhpur</option>
                <option value="UP54, Mau">UP54, Mau</option>
                <option value="UP55, Siddharthnagar">UP55, Siddharthnagar</option>
                <option value="UP56, Maharajganj">UP56, Maharajganj</option>
                <option value="UP57, Padrauna">UP57, Padrauna</option>
                <option value="UP58, SANT KABIR NAGAR">UP58, SANT KABIR NAGAR</option>
                <option value="UP60, Balia">UP60, Balia</option>
                <option value="UP61, Ghazipur">UP61, Ghazipur</option>
                <option value="UP62, Jaunpur">UP62, Jaunpur</option>
                <option value="UP63, Mirzapur">UP63, Mirzapur</option>
                <option value="UP64, Sonbhadra">UP64, Sonbhadra</option>
                <option value="UP65, Varanasi">UP65, Varanasi</option>
                <option value="UP70, Allahabad">UP70, Allahabad</option>
                <option value="UP71, Fatehpur">UP71, Fatehpur</option>
                <option value="UP72, Pratapgarh">UP72, Pratapgarh</option>
                <option value="UP73, Kaushambi">UP73, Kaushambi</option>
                <option value="UP74, Kannauj">UP74, Kannauj</option>
                <option value="UP75, Etawah">UP75, Etawah</option>
                <option value="UP76, Farrukhabad">UP76, Farrukhabad</option>
                <option value="UP77, Kanpur">UP77, Kanpur</option>
                <option value="UP78, Kanpur">UP78, Kanpur</option>
                <option value="UP79, AURAIYA">UP79, AURAIYA</option>
                <option value="UP80, Agra">UP80, Agra</option>
                <option value="UP81, Aligarh">UP81, Aligarh</option>
                <option value="UP82, Etah">UP82, Etah</option>
                <option value="UP83, Firozabad">UP83, Firozabad</option>
                <option value="UP84, Mainpuri">UP84, Mainpuri</option>
                <option value="UP85, Mathura">UP85, Mathura</option>
                <option value="UP86, Hathras">UP86, Hathras</option>
                <option value="UP87, Kasganj">UP87, Kasganj</option>
                <option value="UP90, Banda">UP90, Banda</option>
                <option value="UP91, Hamirpur">UP91, Hamirpur</option>
                <option value="UP92, Jalaun">UP92, Jalaun</option>
                <option value="UP93, Jhansi">UP93, Jhansi</option>
                <option value="UP94, Lalitpur">UP94, Lalitpur</option>
                <option value="UP95, Mahoba">UP95, Mahoba</option>
                <option value="UP96, Chitrakoot">UP96, Chitrakoot</option>
                <option value="DL-01, Mall Road">DL-01, Mall Road RTO</option>
                <option value="DL-02, Tilak Marg">DL-02, Tilak Marg RTO</option>
                <option value="DL-03, Sheikh Sarai">DL-03, Sheikh Sarai RTO</option>
                <option value="DL-04, Janakpuri West">DL-04, Janakpuri West RTO</option>
                <option value="DL-05, Loni Road">DL-05, Loni Road RTO</option>
                <option value="DL-06, Sarai Kale Khan">DL-06, Sarai Kale Khan RTO</option>
                <option value="DL-07, Mayur Vihar">DL-07, Mayur Vihar RTO</option>
                <option value="DL-08, Wazirpur">DL-08, Wazirpur RTO</option>
                <option value="DL-09, Dwarka">DL-09, Dwarka RTO</option>
                <option value="DL-10, West Delhi">DL-10, West Delhi RTO</option>
                <option value="DL-11, Rohini">DL-11, Rohini RTO</option>
                <option value="DL-12, Vasant Vihar">DL-12, Vasant Vihar RTO</option>
                <option value="DL-13, Surajmal Vihar">DL-13, Surajmal Vihar RTO</option>
                <option value="DL-14, Surajmal Vihar">DL-14, Surajmal Vihar RTO</option>
                  <!-- Haryana (HR) -->
    <option value="HR-01, Ambala">HR-01, Ambala</option>
    <option value="HR-02, Panchkula">HR-02, Jagadhri</option>
    <option value="HR-03, Karnal">HR-03, Karnal</option>
    <option value="HR-04, Faridabad">HR-04, Faridabad</option>
    <option value="HR-05, Gurgaon">HR-26, Gurgaon</option>
    <option value="HR-06, Hisar">HR-06, Hisar</option>
    <option value="HR-06, Hisar">HR-05, Karnal</option>
    <option value="HR-06, Hisar">HR-09, Guhla</option>
    <!-- Himachal Pradesh (HP) -->
    <option value="HP-01, Shimla">HP-01, Shimla</option>
    <option value="HP-02, Hamirpur">HP-02, Hamirpur</option>
    <option value="HP-03, Kangra">HP-03, Kangra</option>

    <!-- Kerala (KL) -->
    <option value="KL-01, Thiruvananthapuram">KL-01, Thiruvananthapuram</option>
    <option value="KL-02, Kollam">KL-02, Kollam</option>
    <option value="KL-03, Pathanamthitta">KL-03, Pathanamthitta</option>

    <!-- Tamil Nadu (TN) -->
    <option value="TN-01, Chennai">TN-01, Chennai</option>
    <option value="TN-02, Coimbatore">TN-02, Coimbatore</option>
    <option value="TN-03, Madurai">TN-03, Madurai</option>

    <!-- Jharkhand (JH) -->
    <option value="JH-01, Ranchi">JH-01, Ranchi</option>
    <option value="JH-02, Dhanbad">JH-02, Dhanbad</option>
    <option value="JH-03, Jamshedpur">JH-03, Jamshedpur</option>

    <!-- Madhya Pradesh (MP) -->
    <option value="MP-01, Bhopal">MP-01, Bhopal</option>
    <option value="MP-02, Gwalior">MP-02, Gwalior</option>
    <option value="MP-03, Indore">MP-03, Indore</option>

    <!-- Chhattisgarh (CG) -->
    <option value="CG-01, Raipur">CG-01, Raipur</option>
    <option value="CG-02, Bilaspur">CG-02, Bilaspur</option>

    <!-- Rajasthan (RJ) -->
    <option value="RJ-01, Jaipur">RJ-01, Jaipur</option>
    <option value="RJ-02, Jodhpur">RJ-02, Jodhpur</option>
    <option value="RJ-03, Udaipur">RJ-03, Udaipur</option>

    <!-- Uttarakhand (UK) -->
    <option value="UK-01, Dehradun">UK-01, Dehradun</option>
    <option value="UK-02, Nainital">UK-02, Nainital</option>
    <option value="UK-03, Pauri">UK-03, Pauri</option>

    <!-- Bihar (BR) -->
    <option value="BR-01, Patna">BR-01, Patna</option>
    <option value="BR-02, Gaya">BR-02, Gaya</option>
    <option value="BR-03, Bhagalpur">BR-03, Bhagalpur</option>

    <!-- Chandigarh (CH) -->
    <option value="CH-01, Chandigarh">CH-01, Chandigarh</option>

    <!-- Punjab (PB) -->
    <option value="PB-01, Amritsar">PB-01, Amritsar</option>
    <option value="PB-02, Bathinda">PB-02, Bathinda</option>
    <option value="PB-03, Ludhiana">PB-03, Ludhiana</option>

    <!-- Karnataka (KA) -->
    <option value="KA-01, Bengaluru">KA-01, Bengaluru</option>
    <option value="KA-02, Mysuru">KA-02, Mysuru</option>
    <option value="KA-03, Mangaluru">KA-03, Mangaluru</option>
            </select>
        </div>
        
        <div class="form-group">
            <label for="sellerAlignedDate">Seller Aligned Date:</label>
            <input type="date" name="sellerAlignedDate" id="sellerAlignedDate">
        </div>
        
        <div class="form-group">
            <label for="buyerName">Buyer Name:</label>
            <input type="text" name="buyerName" id="buyerName">
        </div>
        <div class="form-group">
            <label for="buyerNum">Buyer Number:</label>
            <input type="text" name="buyerNum" id="buyerNumber">
        </div>
        
        <div class="form-group">
            <label for="buyer_RTO_location">Buyer RTO Location:</label>
            <select name="buyer_RTO_location" id="sellerRTO">
                <option value="" disabled selected>Select RTO Location</option>
                <option value="UP11, Saharanpur">UP11, Saharanpur</option>
                <option value="UP12, Muzaffarnagar">UP12, Muzaffarnagar</option>
                <option value="UP13, Bulandshahr">UP13, Bulandshahr</option>
                <option value="UP14, Ghaziabad">UP14, Ghaziabad</option>
                <option value="UP15, Meerut">UP15, Meerut</option>
                <option value="UP16, Noida">UP16, Noida</option>
                <option value="UP17, Baghpat">UP17, Baghpat</option>
                <option value="UP19, Shamli">UP19, Shamli</option>
                <option value="UP20, Bijnor">UP20, Bijnor</option>
                <option value="UP21, Moradabad">UP21, Moradabad</option>
                <option value="UP22, Rampur">UP22, Rampur</option>
                <option value="UP23, Amroha">UP23, Amroha</option>
                <option value="UP24, Budaun">UP24, Budaun</option>
                <option value="UP25, Bareilly">UP25, Bareilly</option>
                <option value="UP26, Pilibhit">UP26, Pilibhit</option>
                <option value="UP27, Shahjahanpur">UP27, Shahjahanpur</option>
                <option value="UP28, Ayodhya">UP28, Ayodhya</option>
                <option value="UP30, Hardoi">UP30, Hardoi</option>
                <option value="UP31, Lakhimpur Kheri">UP31, Lakhimpur Kheri</option>
                <option value="UP32, Lucknow Mahanager">UP32, Lucknow Mahanager</option>
                <option value="UP32, Lucknow TP Nagar">UP32, Lucknow TP Nagar</option>
                <option value="UP33, Raebareli">UP33, Raebareli</option>
                <option value="UP34, Sitapur">UP34, Sitapur</option>
                <option value="UP35, Unnao">UP35, Unnao</option>
                <option value="UP36, Amethi">UP36, Amethi</option>
                <option value="UP37, Hapur">UP37, Hapur</option>
                <option value="UP38, Sambhal">UP38, Sambhal</option>
                <option value="UP40, Bahraich">UP40, Bahraich</option>
                <option value="UP41, Barabanki">UP41, Barabanki</option>
                <option value="UP42, Faizabad">UP42, Faizabad</option>
                <option value="UP43, Gonda">UP43, Gonda</option>
                <option value="UP44, Sultanpur">UP44, Sultanpur</option>
                <option value="UP46, Shravasti">UP46, Shravasti</option>
                <option value="UP47, Balrampur">UP47, Balrampur</option>
                <option value="UP50, Azamgarh">UP50, Azamgarh</option>
                <option value="UP51, Basti">UP51, Basti</option>
                <option value="UP52, Deoria">UP52, Deoria</option>
                <option value="UP53, Gorakhpur">UP53, Gorakhpur</option>
                <option value="UP54, Mau">UP54, Mau</option>
                <option value="UP55, Siddharthnagar">UP55, Siddharthnagar</option>
                <option value="UP56, Maharajganj">UP56, Maharajganj</option>
                <option value="UP57, Padrauna">UP57, Padrauna</option>
                <option value="UP58, SANT KABIR NAGAR">UP58, SANT KABIR NAGAR</option>
                <option value="UP60, Balia">UP60, Balia</option>
                <option value="UP61, Ghazipur">UP61, Ghazipur</option>
                <option value="UP62, Jaunpur">UP62, Jaunpur</option>
                <option value="UP63, Mirzapur">UP63, Mirzapur</option>
                <option value="UP64, Sonbhadra">UP64, Sonbhadra</option>
                <option value="UP65, Varanasi">UP65, Varanasi</option>
                <option value="UP70, Allahabad">UP70, Allahabad</option>
                <option value="UP71, Fatehpur">UP71, Fatehpur</option>
                <option value="UP72, Pratapgarh">UP72, Pratapgarh</option>
                <option value="UP73, Kaushambi">UP73, Kaushambi</option>
                <option value="UP74, Kannauj">UP74, Kannauj</option>
                <option value="UP75, Etawah">UP75, Etawah</option>
                <option value="UP76, Farrukhabad">UP76, Farrukhabad</option>
                <option value="UP77, Kanpur">UP77, Kanpur</option>
                <option value="UP78, Kanpur">UP78, Kanpur</option>
                <option value="UP79, AURAIYA">UP79, AURAIYA</option>
                <option value="UP80, Agra">UP80, Agra</option>
                <option value="UP81, Aligarh">UP81, Aligarh</option>
                <option value="UP82, Etah">UP82, Etah</option>
                <option value="UP83, Firozabad">UP83, Firozabad</option>
                <option value="UP84, Mainpuri">UP84, Mainpuri</option>
                <option value="UP85, Mathura">UP85, Mathura</option>
                <option value="UP86, Hathras">UP86, Hathras</option>
                <option value="UP87, Kasganj">UP87, Kasganj</option>
                <option value="UP90, Banda">UP90, Banda</option>
                <option value="UP91, Hamirpur">UP91, Hamirpur</option>
                <option value="UP92, Jalaun">UP92, Jalaun</option>
                <option value="UP93, Jhansi">UP93, Jhansi</option>
                <option value="UP94, Lalitpur">UP94, Lalitpur</option>
                <option value="UP95, Mahoba">UP95, Mahoba</option>
                <option value="UP96, Chitrakoot">UP96, Chitrakoot</option>
                <option value="DL-01, Mall Road">DL-01, Mall Road RTO</option>
                <option value="DL-02, Tilak Marg">DL-02, Tilak Marg RTO</option>
                <option value="DL-03, Sheikh Sarai">DL-03, Sheikh Sarai RTO</option>
                <option value="DL-04, Janakpuri West">DL-04, Janakpuri West RTO</option>
                <option value="DL-05, Loni Road">DL-05, Loni Road RTO</option>
                <option value="DL-06, Sarai Kale Khan">DL-06, Sarai Kale Khan RTO</option>
                <option value="DL-07, Mayur Vihar">DL-07, Mayur Vihar RTO</option>
                <option value="DL-08, Wazirpur">DL-08, Wazirpur RTO</option>
                <option value="DL-09, Dwarka">DL-09, Dwarka RTO</option>
                <option value="DL-10, West Delhi">DL-10, West Delhi RTO</option>
                <option value="DL-11, Rohini">DL-11, Rohini RTO</option>
                <option value="DL-12, Vasant Vihar">DL-12, Vasant Vihar RTO</option>
                <option value="DL-13, Surajmal Vihar">DL-13, Surajmal Vihar RTO</option>
                <option value="DL-14, Surajmal Vihar">DL-14, Surajmal Vihar RTO</option>
                  <!-- Haryana (HR) -->
  
                  <option value="HR-01, Ambala">HR-01, Ambala</option>
                  <option value="HR-02, Panchkula">HR-02, Jagadhri</option>
                  <option value="HR-03, Karnal">HR-03, Karnal</option>
                  <option value="HR-04, Faridabad">HR-04, Faridabad</option>
                  <option value="HR-05, Gurgaon">HR-26, Gurgaon</option>
                  <option value="HR-06, Hisar">HR-06, Hisar</option>
                  <option value="HR-06, Hisar">HR-05, Karnal</option>
                  <option value="HR-06, Hisar">HR-09, Guhla</option>

    <!-- Himachal Pradesh (HP) -->
    <option value="HP-01, Shimla">HP-01, Shimla</option>
    <option value="HP-02, Hamirpur">HP-02, Hamirpur</option>
    <option value="HP-03, Kangra">HP-03, Kangra</option>

    <!-- Kerala (KL) -->
    <option value="KL-01, Thiruvananthapuram">KL-01, Thiruvananthapuram</option>
    <option value="KL-02, Kollam">KL-02, Kollam</option>
    <option value="KL-03, Pathanamthitta">KL-03, Pathanamthitta</option>

    <!-- Tamil Nadu (TN) -->
    <option value="TN-01, Chennai">TN-01, Chennai</option>
    <option value="TN-02, Coimbatore">TN-02, Coimbatore</option>
    <option value="TN-03, Madurai">TN-03, Madurai</option>

    <!-- Jharkhand (JH) -->
    <option value="JH-01, Ranchi">JH-01, Ranchi</option>
    <option value="JH-02, Dhanbad">JH-02, Dhanbad</option>
    <option value="JH-03, Jamshedpur">JH-03, Jamshedpur</option>

    <!-- Madhya Pradesh (MP) -->
    <option value="MP-01, Bhopal">MP-01, Bhopal</option>
    <option value="MP-02, Gwalior">MP-02, Gwalior</option>
    <option value="MP-09, Indore">MP-03, Indore</option>

    <!-- Chhattisgarh (CG) -->
    <option value="CG-01, Raipur">CG-01, Raipur</option>
    <option value="CG-02, Bilaspur">CG-02, Bilaspur</option>

    <!-- Rajasthan (RJ) -->
    <option value="RJ-01, Jaipur">RJ-01, Jaipur</option>
    <option value="RJ-02, Jodhpur">RJ-02, Jodhpur</option>
    <option value="RJ-03, Udaipur">RJ-03, Udaipur</option>

    <!-- Uttarakhand (UK) -->
    <option value="UK-01, Dehradun">UK-01, Dehradun</option>
    <option value="UK-02, Nainital">UK-02, Nainital</option>
    <option value="UK-03, Pauri">UK-03, Pauri</option>

    <!-- Bihar (BR) -->
    <option value="BR-01, Patna">BR-01, Patna</option>
    <option value="BR-02, Gaya">BR-02, Gaya</option>
    <option value="BR-03, Bhagalpur">BR-03, Bhagalpur</option>

    <!-- Chandigarh (CH) -->
    <option value="CH-01, Chandigarh">CH-01, Chandigarh</option>

    <!-- Punjab (PB) -->
    <option value="PB-01, Amritsar">PB-01, Amritsar</option>
    <option value="PB-02, Bathinda">PB-02, Bathinda</option>
    <option value="PB-03, Ludhiana">PB-03, Ludhiana</option>

    <!-- Karnataka (KA) -->
    <option value="KA-01, Bengaluru">KA-01, Bengaluru</option>
    <option value="KA-02, Mysuru">KA-02, Mysuru</option>
    <option value="KA-03, Mangaluru">KA-03, Mangaluru</option>
            </select>
        </div>
        
        <div class="form-group">
            <label for="buyerAlignedDate">Buyer Aligned Date:</label>
            <input type="date" name="buyerAlignedDate" id="buyerAlignedDate">
        </div>
        <div class="form-group">
            <label for="NOCissuedDate">NOC issue Date:</label>
            <input type="date" name="NOCissuedDate" id="NOCissuedDate">
        </div>
        <div class="form-group">
            <label for="transferDate">Transfer Date:</label>
            <input type="date" name="transferDate" id="transferDate">
        </div>
        <div class="form-group">
            <label for="HandoverDate_RC">RC handover Date:</label>
            <input type="date" name="HandoverDate_RC" id="HandoverDate_RC">
        </div>

        <div class="form-group">
            <label for="HandoverDate_NOC">NOC handover Date:</label>
            <input type="date" name="HandoverDate_NOC" id="HandoverDate_NOC">
        </div>

        <div class="form-group">
            <label for="NOCreceivedDate">NOC recieved Date:</label>
            <input type="date" name="NOCreceivedDate" id="NOCreceivedDate">
        </div>
        
        <div class="form-group">
            <label for="courier">Courier done Date:</label>
            <input type="date" name="courier" id="courier">
        </div>
        <div class="form-group">
            <label for="deliverdate">Deliver Date:</label>
            <input type="date" name="deliverdate" id="deliverdate">
        </div>
        <div class="form-group">
            <label for="description">Remarks:</label>
            <textarea name="description" id="description"></textarea>
        </div>
        <div class="form-group">
            <label for="status_NOC">Physical NOC status:</label>
            <select name="status_NOC" id="status_NOC">
                <option value="">Select Physical NOC Status</option>
                <option value="NOC + RC - Pending From Vendor">NOC + RC - Pending From Vendor</option>
                <option value="NOC Pending From Vendor">NOC Pending From Vendor</option>
                <option value="NOC Delivered To The (TO) Vendor">NOC Delivered To The (TO) Vendor</option>
                <option value="NOC + RC Delivered To The (TO) Vendor">NOC + RC Delivered To The (TO) Vendor</option>
                <option value="Direct Dispatched From RTO">Direct Dispatched From RTO</option>
                <option value="NOC Return Received for Correction">NOC Return Received for Correction</option>
                <option value="NOC Returned To The Vendor for Correction">NOC Returned To The Vendor for Correction</option>
                <option value="NOC Received_In Office">NOC Received_In Office</option>
                <option value="NOC Delivered By Hand">NOC Delivered By Hand</option>
                <option value="NOC Delivered To Runner">NOC Delivered To Runner</option>
                <option value="NOC Dispatched - In Transit">NOC Dispatched - In Transit</option>
                <option value="NOT APPLICABLE">NOT APPLICABLE</option>
            </select>
        </div>
        
        <div class="form-group">
            <label for="status_RC">Physical RC status:</label>
            <select name="status_RC" id="status_RC">
                <option value="">Select Physical RC Status</option>
                <option value="RC Delivered To Client">RC Delivered To Client</option>
                <option value="RC Pending From RTO Vendor">RC Pending From RTO Vendor</option>
                <option value="NOC Pending From Vendor">NOC Pending From Vendor</option>
                <option value="NOC Delivered To Client">NOC Delivered To Client</option>
                <option value="NOT APPLICABLE">NOT APPLICABLE</option>
                <option value="RC Received (In Office - NCR)">RC Received (In Office - NCR)</option>
                <option value="NOC Received (In Office - NCR)">NOC Received (In Office - NCR)</option>
                <option value="RC Handover To Buyer By Vendor">RC Handover To Buyer By Vendor</option>
                <option value="RC TRANSFER PENDING YET">RC TRANSFER PENDING YET</option>
                <option value="RC Handover To Buyer ( By Vahan Help )">RC Handover To Buyer ( By Vahan Help )</option>
                <option value="RC Received (In Office - LKO)">RC Received (In Office - LKO)</option>
                <option value="NOC Received (In Office - LKO)">NOC Received (In Office - LKO)</option>
            </select>
        </div>
        
        <!-- New fields for file uploads -->
        <div class="form-group">
            <label for="sellerPhoto">Upload Seller Photo:</label>
            <input type="file" id="sellerPhoto" name="sellerPhoto" accept="image/*">
        </div>
    
        <div class="form-group">
            <label for="buyerPhoto">Upload Buyer Photo:</label>
            <input type="file" id="buyerPhoto" name="buyerPhoto" accept="image/*">
        </div>
    
        <div class="form-group">
            <label for="sellerDocs">Upload Seller Documents:</label>
            <input type="file" id="sellerDocs" name="sellerDocs" accept=".pdf,.doc,.docx,.txt" multiple>
        </div>
    
        <div class="form-group">
            <label for="buyerDocs">Upload Buyer Documents:</label>
            <input type="file" id="buyerDocs" name="buyerDocs" accept=".pdf,.doc,.docx,.txt" multiple>
        </div>
    
        <div class="form-group">
            <label for="carVideo">Upload Car Video:</label>
            <input type="file" id="carVideo" name="carVideo" accept="video/*">
        </div>
    
        <div class="form-group">
            <label for="sellerVideo">Upload Seller Video:</label>
            <input type="file" id="sellerVideo" name="sellerVideo" accept="video/*">
        </div>
    
        <div class="form-group">
            <label for="careOfVideo">Upload Care Of Video:</label>
            <input type="file" id="careOfVideo" name="careOfVideo" accept="video/*">
        </div>
    
        <div class="form-group">
            <label for="nocReceipt">Upload NOC Receipt:</label>
            <input type="file" id="nocReceipt" name="nocReceipt" accept=".pdf,.doc,.docx,.txt">
        </div>
        <div class="form-group">
            <label for="transferReceipt">Upload Transfer Receipt:</label>
            <input type="file" id="transferReceipt" name="transferReceipt" accept=".pdf,.doc,.docx,.txt">
        </div>
        <div class="btnss">
            <button type="submit">Create Task</button>
            <!-- <a href="/upload" class="upl">Upload documents</a> -->
        </div>
    </form>

    <h2>Import Tasks via CSV</h2>
    <form action="/tasks/import" method="post" enctype="multipart/form-data">
        <input type="file" name="csvFile">
        <button type="submit">Upload CSV</button>
    </form>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Prevent form submission on "Enter" key press
            const form = document.querySelector('form');
            form.addEventListener('keydown', function(event) {
                if (event.key === 'Enter' && event.target.tagName.toLowerCase() !== 'textarea') {
                    event.preventDefault();
                }
            });
        });
        function updateInput() {
        const checkboxes = document.querySelectorAll('input[name="caseTypes"]:checked');
        const values = Array.from(checkboxes).map(checkbox => checkbox.value);
        document.getElementById('caseType').value = values.join('+ ');
    }
    </script>
    
</body>
</html>
